.mynavi{
  height: 70px;
}
html, body{
  height: 100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
}

.page-footer{
  padding-top: 50px;
  padding-bottom: 10px;
}

.articleTitleClass{
  text-align: left;
}

.ArticleActionButtons{
  float: right;
}

.articleContentClass{
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1em;
}

.topicListClass a:link{
  color:black;
}

.footerBrand{
  font-size: 1.6em;
  color: black
}
