.mynavi{
  height: 70px;
}

.brandLogoClass{
  font-size: 1.6em;
  font-family: 'Monoton', cursive;
}

.articleTitleClass{
  text-align: center;
}

.articleContentClass{
  font-family: 'Nunito', sans-serif;
  text-align: justify;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1em;
}

.footerBrand{
  font-size: 1.6em;
}
